<?xml version="1.0"?>
<launch>

    <node name="diff_drive_mppi" pkg="ccv_mppi_path_tracker" type="diff_drive_mppi" output="screen">
    <!-- <param name="mppi_path_tracker_config" textfile="$(find ccv_mppi_path_tracker)/config/diff_drive_mppi_path_tracker.yaml"/> -->
    <param name="path_weight" value="2.0"/>
    <param name="v_weight" value="1.0"/>
    <remap from="/local/cmd_vel" to="/sq2_ccv/diff_drive_steering_controller/cmd_vel"/>
    </node>
    <node name="reference_path_creator" pkg="ccv_mppi_path_tracker" type="reference_path_creator" output="screen">
    <param name="world_frame_id" value="odom"/>
    <param name="course_length" value="20"/>
    <param name="A1" value="1.5"/>
    <param name="omega1" value="0.127"/>
    <param name="A2" value="0.75"/>
    <param name="omega2" value="0.254"/>
    <remap from="/reference_path_creater/path" to="/reference_path"/>
    <param name="delta1" value="0.0"/>
    <param name="delta2" value="0.0"/>
    <param name="delta3" value="0.0"/>   
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ccv_mppi_path_tracker)/config/config.rviz" output="screen"/>
</launch>
