<?xml version="1.0"?>

<launch>
    <include file="$(find sq2_ccv_description)/launch/gazebo.launch"/>

    <node name="ccv_mppi_path_tracker" pkg="ccv_mppi_path_tracker" type="ccv_mppi_path_tracker" output="screen">
    <!-- <param name="mppi_path_tracker_config" textfile="$(find ccv_mppi_path_tracker)/config/diff_drive_mppi_path_tracker.yaml"/> --> 
    <param name="v_ref" value="1.2"/>
    </node>
    <node name="reference_path_creater" pkg="ccv_mppi_path_tracker" type="reference_path_creater" output="screen">
    <param name="world_frame_id" value="odom"/>
    <param name="A1" value="0.5"/>
    <param name="omega1" value="1"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ccv_mppi_path_tracker)/config/config.rviz" output="screen"/>

</launch>